<a href="https://colab.research.google.com/github/Ethan-sev/deep-learning-challenge/blob/main/Starter_Code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [44]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [45]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=["EIN", "NAME"])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [46]:
# Determine the number of unique values in each column.
unique_values = application_df.nunique()
unique_values

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [47]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
application_type_counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [48]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff = 500
application_types_to_replace = application_type_counts[application_type_counts < cutoff].index.tolist()
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [49]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
classification_counts = application_df['CLASSIFICATION'].value_counts()
classifications_to_replace = classification_counts[classification_counts < cutoff].index.tolist()
application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(classifications_to_replace, "Other")
classification_replacement_counts = application_df['CLASSIFICATION'].value_counts()
classification_replacement_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: count, dtype: int64

In [50]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classifications_more_than_one = classification_counts[classification_counts > 1]
classifications_more_than_one

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [51]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`


# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: count, dtype: int64

In [52]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df_numeric = pd.get_dummies(application_df)
application_df_numeric.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,True,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,True,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,True,False,False,False,...,False,False,True,False,False,False,False,False,True,False

In [53]:
# Split our preprocessed data into our features and target arrays
target = application_df_numeric.drop(columns=['IS_SUCCESSFUL'])
features = application_df_numeric['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(target, features, test_size=0.2, random_state=42)

In [54]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

Tried to make it look a little nicer below

In [55]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=64, activation='relu', input_shape=(X_train_scaled.shape[1],)))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=32, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 64)                2880

 dense_7 (Dense)             (None, 32)                2080

 dense_8 (Dense)             (None, 1)                 33

=================================================================
Total params: 4993 (19.50 KB)
Trainable params: 4993 (19.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

wanted to try adam this time

In [56]:
# Compile the model
nn.compile(
    optimizer='adam',
    loss= 'binary_crossentropy',
    metrics= ['accuracy']
)

WARNING:tensorflow:From Z:\Travis\anaconda3\lib\site-packages\tensorflow\python\ops\nn_impl.py:180: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

In [57]:
# Train the model
history = nn.fit(
    X_train_scaled,
    y_train,
    epochs=30,
    batch_size=32,
    validation_data=(X_test_scaled, y_test),
    verbose=2
)

Epoch 1/30
858/858 - 3s - loss: 0.5700 - accuracy: 0.7209 - val_loss: 0.5754 - val_accuracy: 0.7131 - 3s/epoch - 4ms/step
Epoch 2/30
858/858 - 4s - loss: 0.5545 - accuracy: 0.7290 - val_loss: 0.5650 - val_accuracy: 0.7223 - 4s/epoch - 5ms/step
Epoch 3/30
858/858 - 6s - loss: 0.5517 - accuracy: 0.7295 - val_loss: 0.5628 - val_accuracy: 0.7197 - 6s/epoch - 7ms/step
Epoch 4/30
858/858 - 5s - loss: 0.5496 - accuracy: 0.7298 - val_loss: 0.5632 - val_accuracy: 0.7213 - 5s/epoch - 6ms/step
Epoch 5/30
858/858 - 5s - loss: 0.5489 - accuracy: 0.7317 - val_loss: 0.5572 - val_accuracy: 0.7257 - 5s/epoch - 6ms/step
Epoch 6/30
858/858 - 2s - loss: 0.5469 - accuracy: 0.7303 - val_loss: 0.5564 - val_accuracy: 0.7265 - 2s/epoch - 3ms/step
Epoch 7/30
858/858 - 2s - loss: 0.5461 - accuracy: 0.7320 - val_loss: 0.5558 - val_accuracy: 0.7243 - 2s/epoch - 2ms/step
Epoch 8/30
858/858 - 2s - loss: 0.5458 - accuracy: 0.7328 - val_loss: 0.5575 - val_accuracy: 0.7274 - 2s/epoch - 2ms/step
Epoch 9/30
858/858 - 2s - loss: 0.5455 - accuracy: 0.7322 - val_loss: 0.5553 - val_accuracy: 0.7273 - 2s/epoch - 2ms/step
Epoch 10/30
858/858 - 2s - loss: 0.5444 - accuracy: 0.7336 - val_loss: 0.5548 - val_accuracy: 0.7276 - 2s/epoch - 2ms/step
Epoch 11/30
858/858 - 2s - loss: 0.5440 - accuracy: 0.7334 - val_loss: 0.5578 - val_accuracy: 0.7296 - 2s/epoch - 3ms/step
Epoch 12/30
858/858 - 3s - loss: 0.5437 - accuracy: 0.7355 - val_loss: 0.5568 - val_accuracy: 0.7264 - 3s/epoch - 3ms/step
Epoch 13/30
858/858 - 2s - loss: 0.5432 - accuracy: 0.7349 - val_loss: 0.5547 - val_accuracy: 0.7232 - 2s/epoch - 2ms/step
Epoch 14/30
858/858 - 2s - loss: 0.5426 - accuracy: 0.7350 - val_loss: 0.5555 - val_accuracy: 0.7280 - 2s/epoch - 2ms/step
Epoch 15/30
858/858 - 2s - loss: 0.5423 - accuracy: 0.7354 - val_loss: 0.5575 - val_accuracy: 0.7258 - 2s/epoch - 2ms/step
Epoch 16/30
858/858 - 2s - loss: 0.5425 - accuracy: 0.7338 - val_loss: 0.5567 - val_accuracy: 0.7239 - 2s/epoch - 2ms/step
Epoch 17/30
858/858 - 2s - loss: 0.5417 - accuracy: 0.7359 - val_loss: 0.5566 - val_accuracy: 0.7248 - 2s/epoch - 3ms/step
Epoch 18/30
858/858 - 3s - loss: 0.5417 - accuracy: 0.7353 - val_loss: 0.5565 - val_accuracy: 0.7280 - 3s/epoch - 4ms/step
Epoch 19/30
858/858 - 2s - loss: 0.5412 - accuracy: 0.7361 - val_loss: 0.5552 - val_accuracy: 0.7251 - 2s/epoch - 2ms/step
Epoch 20/30
858/858 - 2s - loss: 0.5412 - accuracy: 0.7357 - val_loss: 0.5565 - val_accuracy: 0.7276 - 2s/epoch - 2ms/step
Epoch 21/30
858/858 - 2s - loss: 0.5403 - accuracy: 0.7350 - val_loss: 0.5552 - val_accuracy: 0.7264 - 2s/epoch - 3ms/step
Epoch 22/30
858/858 - 2s - loss: 0.5405 - accuracy: 0.7358 - val_loss: 0.5549 - val_accuracy: 0.7287 - 2s/epoch - 2ms/step
Epoch 23/30
858/858 - 2s - loss: 0.5401 - accuracy: 0.7360 - val_loss: 0.5561 - val_accuracy: 0.7241 - 2s/epoch - 3ms/step
Epoch 24/30
858/858 - 4s - loss: 0.5402 - accuracy: 0.7361 - val_loss: 0.5549 - val_accuracy: 0.7259 - 4s/epoch - 4ms/step
Epoch 25/30
858/858 - 2s - loss: 0.5400 - accuracy: 0.7370 - val_loss: 0.5548 - val_accuracy: 0.7278 - 2s/epoch - 2ms/step
Epoch 26/30
858/858 - 2s - loss: 0.5394 - accuracy: 0.7361 - val_loss: 0.5559 - val_accuracy: 0.7286 - 2s/epoch - 3ms/step
Epoch 27/30
858/858 - 2s - loss: 0.5395 - accuracy: 0.7356 - val_loss: 0.5554 - val_accuracy: 0.7270 - 2s/epoch - 3ms/step
Epoch 28/30
858/858 - 2s - loss: 0.5390 - accuracy: 0.7369 - val_loss: 0.5560 - val_accuracy: 0.7290 - 2s/epoch - 2ms/step
Epoch 29/30
858/858 - 2s - loss: 0.5387 - accuracy: 0.7373 - val_loss: 0.5579 - val_accuracy: 0.7271 - 2s/epoch - 3ms/step
Epoch 30/30
858/858 - 3s - loss: 0.5391 - accuracy: 0.7379 - val_loss: 0.5550 - val_accuracy: 0.7284 - 3s/epoch - 3ms/step

In [59]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 0s - loss: 0.5550 - accuracy: 0.7284 - 438ms/epoch - 2ms/step
Loss: 0.5550018548965454, Accuracy: 0.7284256815910339

In [61]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity.h5')

/usr/local/lib/python3.10/dist-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(